/* Latop Device :1200px. */

@media (min-width: 1200px) and (max-width: 1500px) {
    .header-space {
        padding-right: 50px;
        padding-left: 50px;
    }
    .slider-acs::before {
        width: 570px;
    }
    .menu-3 ul li {
        margin: 0 10px;
    }

}

/* LG  Device :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
    .header-space {
        padding-right: 0;
        padding-left: 0;
    }
    .slider-text h2 {
        font-size: 60px;
    }
    .slider-acs::before {
        width: 400px;
    }
    .slider-right-img img {
        margin-left: 0;
        width: 100%;
    }
    .hero-slider {
        min-height: 830px;
    }
    .slider-height {
        min-height: 860px;
    }
    .services-content p {
        padding: 0;
    }
    .pricing-wrapper {
        padding: 80px 36px;
    }
    .chose-content p {
        padding: 0 12px;
    }
    .chose-content span::after {
        width: 340px;
    }
    .news-feed-info {
        padding: 30px 0;
    }
    .footer-sing-up h2,
    .footer-left-info h2 {
        font-size: 27px;
    }
    .footer-right-box {
        padding-left: 0;
    }
    .footer-bottom-area {
        padding: 50px 20px;
    }
    .faq-img img {
        margin-left: 0;
    }
    .header-2 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .slider-text.slider-text-2 h2 {
        font-size: 55px;
    }
    .slider-text.slider-text-2 {
        margin-top: 0;
    }
    .slider-text.slider-text-3 {
        margin-top: 50px;
    }
    .pricing-wrapper.pricing-info {
        padding: 50px 30px;
    }
    .pricing-header span {
        right: 0;
    }
    .section-title-white h3 {
        font-size: 40px;
    }
    .service-content-three h4 {
        font-size: 18px;
    }
    .subscriptin-content h4 {
        font-size: 18px;
    }
    .footer-left-info {
        margin-left: 20px;
    }
    .subscriptin-content {
        padding-right: 0;
    }
    .service-content-three {
        padding-right: 20px;
    }
    .team-text {
        padding: 30px;
        padding-bottom: 30px;
    }
    .service-content-share-hosting h4 {
        font-size: 25px;
    }
  
}

/* MD Device :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .header-space {
        padding-right: 30px;
        padding-left: 30px;
    }
    .header-btn {
        margin-right: 65px;
    }
    .slider-text h2 {
        font-size: 56px;
    }
    .slider-height {
        min-height: 750px;
    }
    .domain-list ul li {
        margin: 0 1px;
    }
    .domain-search {
        padding: 0 20px;
    }
    .pricing-wrapper {
        padding: 80px 41px;
    }
    .faq-img img {
        margin-left: 0;
    }
    .chose-content span::after {
        display: none;
    }
    .testimonail-wraper {
        padding: 49px 30px;
    }
    .news-feed-info {
        padding: 40px 0;
        padding-bottom: 0;
    }
    .footer-right-box {
        padding-left: 0;
    }
    .slider-text.slider-text-2 h2 {
        font-size: 42px;
    }
    .slider-text.slider-text-2 {
        margin-top: 0;
    }
    .slider-acs::before {
        width: 300px;
    }
    .hero-slider {
        min-height: 600px;
        padding-top: 90px;
    }
    .service-content-three h4 {
        font-size: 21px;
    }
    .testimonail-area-three {
        padding: 120px 0;
        padding-top: 50px;
    }
    .footer-left-info {
        margin-left: 0;
    }
    .service-content-three {
        padding-right: 0;
    }
    .subscriptin-content {
        padding-right: 0;
    }
    .price-list-name {
        display: block;
    }
    .team-text {
        padding: 30px;
        padding-bottom: 30px;
    }
    .wigets.mb-30.pl-40 {
        padding-left: 0;
    }
  
}

/* SM Device :480px. */

@media only screen and (min-width: 550px) and (max-width: 767px) {}